# Project place file
/rbx-faker.rbxlx

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

# Faker build file
/Faker.rbxm

# Wally packages
/Packages

# Luau LSP sourcemap file
/sourcemap.json

# Moonwave build
/build

# roblox-ts files
/node_modules
/out
/include
*.tsbuildinfo